<div
    id="erp-builder-settings-modal"
    class="fixed z-[999999] hidden bg-white/50 top-0 left-0 flex items-center justify-center w-full h-full"
>
    <div class="max-w-[90%] max-h-[90vh] erp-card border border-gray-300 shadow-md">
        <h3 class="erp-text-secondary flex items-center justify-between text-lg w-full text-left border-b border-gray-300 pb-4 mb-4 p-2 sm:p-4">
            <span style="width: calc(100% - 32px);" class="truncate">{{ 'crud.label.builder.settings'|trans({}, 'crud') }}</span>
            {% import 'macros/svg.html.twig' as svg %}
            <span
                id="erp-builder-settings-modal-close"
                class="flex items-center justify-center cursor-pointer"
            >
                {{ svg.crud_icon('close', 'medium', '') }}
            </span>
        </h3>
        <div
            id="erp-builder-settings-modal-wrapper"
            class="w-full flex flex-wrap items-start justify-between erp-scroller overflow-y-auto p-2 sm:p-4"
            style="max-height: calc(90vh - 79px);"
        ></div>
    </div>
</div>
