<div class="vbe-form-actions-container">
    <button type="submit" class="vbe-form-action-btn vbe-form-action-btn-save">
        {{ 'form.btn.save'|trans({}, 'BuilderEngineBundle-forms') }}
    </button>
    <button type="submit" name="vbe_save_and_reload" value="referer" class="vbe-form-action-btn vbe-form-action-btn-save-and-stay">
        {{ 'form.btn.save.reload'|trans({}, 'BuilderEngineBundle-forms') }}
    </button>
    <a href="{{ path(builder_engine.routes[entities ~ '_routes'].list) }}" class="vbe-form-action-btn vbe-form-action-btn-back-to-list">
        {{ 'form.btn.back.list'|trans({}, 'BuilderEngineBundle-forms') }}
    </a>
</div>
