{% macro parse(data, editable) %}
    <div
        class="w-full flex flex-col items-start justify-start"
        data-saas--builder-modules-target="image"
    >
        <twig:MediaProvider
            width="w-full"
            label="{{ 'crud.label.category.media'|trans({}, 'crud') }}"
            editable="{{ editable }}"
            name="builder-module_image"
            value="{{ data.library is defined ? data.library : null }}"
            only="{{ [enum('App\\Constant\\GedTypeEnum').IMAGE.value] }}"
        />
    </div>
{% endmacro %}
