{% if pages > 0 %}
    <div class="vbe-counter-container">
        {% if pages > 1 %}
            <p class="vbe-pages">
                {{ 'vbe.pages'|trans({'%page%': page, '%pages%': pages}, 'BuilderEngineBundle-table') }}
            </p>
            <p class="vbe-bookmark">
                {{ 'vbe.bookmark'|trans({'%start%': bookmark_start, '%end%': bookmark_end, '%total%': totalItems}, 'BuilderEngineBundle-table') }}
            </p>
        {% else %}
            <p class="vbe-bookmark">
                {{ (totalItems > 1 ? 'vbe.total' : 'vbe.single')|trans({'%total%': totalItems}, 'BuilderEngineBundle-table') }}
            </p>
        {% endif %}
    </div>
{% endif %}
