{% if isAllowed is same as true %}
    <div class="vbe-create-container">
        <a class="vbe-create-link" href="{{ path(new_entity.route) }}">
            <span class="vbe-create-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 448 512">
                    <path fill="currentColor" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/>
                </svg>
            </span>
            {{ new_entity.label }}
        </a>
    </div>
{% endif %}
