<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block seo %}{% endblock %}

    <title>{% block title %}{{ vbe_brand_name() }}{% endblock %}</title>
    <link rel="icon" href="{{ asset(vbe_icon()) }}">

    {% if app.environment is same as 'dev' %}
        <script src="https://cdn.tailwindcss.com"></script>
    {% endif %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body class="vbe-web-body">
    {% block content %}{% endblock %}
</body>
</html>

